# aws credentials
MASTER_USER=
MASTER_PASSWORD=

# pinecone 
PINECONE_API_KEY=
PINECONE_INDEX_NAME=

# aws opensearch for books search bar
OPENSEARCH_HOST=

# groq / llm provider api key for RAG chatbot
GROQ_API_KEY=