[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ryanbrown
Group=www-data
WorkingDirectory=~/app/djangoapp
ExecStart=/usr/local/bin/gunicorn --workers 5 --bind unix:~/app/djangoapp/gunicorn.sock djangoapp.wsgi:application
StandardOutput=append:/var/log/gunicorn/gunicorn.log
StandardError=append:/var/log/gunicorn/gunicorn_error.log

[Install]
WantedBy=multi-user.target
