duckdb==1.0.0
pandas==2.2.2
opensearch-py==2.6.0
python-dotenv==1.0.1
matplotlib==3.9.0
numpy==1.26.4
langchain-community==0.2.4
langchain-huggingface==0.0.3
transformers==4.41.2
sentence-transformers==3.0.1
torch==2.3.1
pinecone==4.0.0
groq==0.9.0
scikit-learn==1.5.0
pyarrow==16.1.0
Django==5.0.6
djangorestframework==3.15.1
django-cors-headers==4.3.1
celery
redis
gunicorn==22.0.0
psycopg2-binary==2.9.10